!!! Strict
%html
  %head
    %title New City Music
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/site.css'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css'}
    %link{:href=>"//fonts.googleapis.com/css?family=PT+Sans+Narrow:regular,bold&subset=cyrillic",:rel=>"stylesheet",:type=>"text/css"} 
    %script{:type=>'text/javascript', :src=>'http://www.google.com/jsapi'}
    %script{:type=>'text/javascript', :charset=>'utf-8'}= "google.load('jquery', '1.4.2');"
    %script{:type=>'text/javascript', :src=>'js/jquery.jplayer.min.js'}
    %script{:type=>'text/javascript', :src=>'/js/site.js'}
  %body
    #wrapper
      = yield

    #footer
      #footwrap
        %div= '&copy; 2010 New City Fellowship, All Rights Reserved'