!!! Strict
%html
  %head
    %title Home - New City Music
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'/css/site.css'}
    %link{:rel=>'stylesheet', :type=>'text/css', :href=>'http://yui.yahooapis.com/3.1.1/build/cssreset/reset-min.css'}
    %script{:type=>'text/javascript', :src=>'/js/site.js'}
  %body
    #wrapper
      = yield