html
  height: 100%


body
  color: #333
  font-family: Helvetica, Arial
  font-size: 12px
  background-image: url(/images/bg.jpg)
  background-repeat: no-repeat
  background-position: center top
  background-color: #c8c8c8

h3, h3 a
  font-size: 18px
  font-weight: bold
  color: #333333
  text-decoration: none
  display: block  

p, h3, h3 a
  margin-bottom: 5px

break
  clear: both

#wrapper
  width: 990px
  background-color: #FFFFFF
  margin-left: auto
  margin-right: auto
  margin-top: 0
  margin-bottom: 0
  border-left: 5px solid #e8e8e8
  border-right: 5px solid #e8e8e8
  border-top: none
  border-bottom: none

#header, #content, #footer
  width: 950px
  margin-left: auto
  margin-right: auto

#footer
  padding-top: 10px
  padding-bottom: 10px
  text-align: right
  color: #E8E8E8
  border-top: 2px solid #E8E8E8
  margin-top: 10px

#header
  background-image: url(/images/hero-1.jpg)
  background-repeat: no-repeat
  background-position: center top

#header.home
  height: 473px

#header.interior
  height: 273px

#nav
  background-image: url(/images/nav-bg.png)
  background-repeat: no-repeat
  background-position: left top
  height: 53px

#nav ul
  float: right
  margin-top: 17px
  margin-right: 15px

#nav ul li
  display: block
  float: left
  margin-left: 20px

#nav ul li a
  text-decoration: none
  text-transform: uppercase
  font-size: 12px
  color: #333333
  font-weight: bold

#nav ul li a:hover
  color: #bc5400

#utilnav
  height: 40px

#utilnav ul
  float: right
  margin-top: 13px
  margin-right: 15px

#utilnav ul li
  display: block
  float: left
  margin-left: 10px
  height: 16px
  line-height: 16px

#utilnav ul li a
  text-decoration: none
  text-transform: uppercase
  font-size: 11px
  color: #FFF
  font-weight: bold

#utilnav ul li.search
  width: 60px
  padding-right: 10px
  text-align: right
  border-right: 1px solid #fff
  background-image: url(/images/search-icon1.png)
  background-repeat: no-repeat
  background-position: left

#utilnav ul li a:hover
  color: #CCCCCC

.headercallout
  width: 260px
  margin-top: 135px
  margin-left: 20px
  background-color: #ffffff

#content
  margin-top: 20px
  margin-bottom: 0px

.title
  background-image: url(/images/title-bg.png)
  background-repeat: no-repeat
  background-position: top left
  height: 25px
  padding-left: 10px
  padding-right: 10px
  padding-top: 6px
  font-size: 12px
  font-weight: bold
  text-transform: uppercase
  color: #FFF
  letter-spacing: 1px

.title .viewall
  float: right
  border: none

.audioplay
  width: 20px
  height: 20px
  border: none
  float: left
  background-color: #333333
  margin-top: 5px
  margin-right: 10px

.headercallout li
  padding-left: 10px
  padding-right: 10px
  padding-top: 10px
  padding-bottom: 10px
  border-bottom: 1px solid #e3e3e3

.headercallout li h3
  font-size: 15px
  color: #333333
  font-weight: bold

.headercallout li a
  text-transform: uppercase
  text-decoration: underline
  font-size: 10px
  font-weight: bold
  color: #666666

.headercallout li a:hover
  color: #bc5400


.headercallout .last
  margin: 0
  padding: 0
  border: none
  background-color: #e3e3e3
  height: 26px

.headercallout .last img
  margin: none

.headercallout .last a
  margin: none
  padding: none

.home #leftcallout
  width: 367px
  float: left

.home #rightcol
  margin-left: 387px

.home #rightcol #learn
  width: 368px
  height: 234px
  overflow: hidden

#findasong

.home #rightcol #learn ul li
  border-bottom: 1px solid #e3e3e3
  padding-top: 10px
  padding-bottom: 10px

.home #rightcol #ad
  float: right
  height: 234px

.home #rightcol #findasong
  margin-top: 20px
  clear: right
  padding: 10px

#findasong
  background-color: #eeeeee

#findasong h2
  color: #bc5400